@model IEnumerable<Proyecto_Recursos_Humanos.Models.DEPARTAMENTOS>

@{
    ViewBag.Title = "Index";
}
    <div id="cuerpo">
        <p id="nombre" class="fuente">Listado de departamentos</p>

        <p id="link" class="fuente">
            @Html.ActionLink("Agregar nuevo departamento", "Create")
        </p>
        <table class="table">
            <tr id="latabla">
                <th>
                    @Html.DisplayNameFor(model => model.Departamento)
                </th>
                <th>Opciones</th>
            </tr>

            @foreach (var item in Model)
            {
                <tr class="fuente">
                    <td>
                        @Html.DisplayFor(modelItem => item.Departamento)
                    </td>
                    <td id="actions">
                        @Html.ActionLink("Editar", "Edit", new { id = item.Id_Dep }) |
                        @Html.ActionLink("Detalles", "Details", new { id = item.Id_Dep }) |
                        @Html.ActionLink("Eliminar", "Delete", new { id = item.Id_Dep })
                    </td>
                </tr>
            }

        </table>
        <div id="espacio"></div>
    </div>